@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  width: 450px;
  height: 350px;
  display: grid;
  gap: 15px;
}
.animte-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #aaaaaa 50%,
    #000000 50%,
    #fac000 80%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
  font-size: 20px;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -155deg,
    #636363 50%,
    #000000 58%,
    gold 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 20px;
}
.animate-charcter:hover {
  text-transform: uppercase;
  background-image: linear-gradient(
    -55deg,
    #ff625c 50%,
    #009e74 58%,
    #ffbc30 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  cursor: pointer;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 20px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

p {
  color: black;
  font-size: 1.2rem;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.fouth {
  border-color: black;
  color: #fff;
  background-image: -webkit-linear-gradient(
    160deg,
    #030303 50%,
    transparent 50%
  );
  background-image: linear-gradient(160deg, #030303 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 800ms ease-in-out;
}
.fouth:hover {
  background-position: 0;
}
.fourth {
  border-color: black;
  color: #fff;
  background-image: -webkit-linear-gradient(
    45deg,
    #030303 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #030303 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 1000ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}
.fiveth {
  border-color: black;
  background-image: -webkit-linear-gradient(
    45deg,
    #030303 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #030303 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 800ms ease-in-out;
  width: 96px;
}
.fiveth:hover {
  background-position: 0;
}
.animated-button {
  background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
  padding: 20px 40px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #d4e0f7;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button:hover::before {
  opacity: 0.2;
}

.animated-button1 {
  background-color: white;

  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: gainsboro;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.animated-button1::before {
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(black)
  );
  background: linear-gradient(to left, rgba(43, 8, 8, 0), black);
  -webkit-animation: 3s animateTop linear infinite;
  animation: 3s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(43, 8, 8, 0)),
    to(black)
  );
  background: linear-gradient(to top, rgba(43, 8, 8, 0), black);
  -webkit-animation: 3s animateRight linear -1s infinite;
  animation: 3s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(43, 8, 8, 0)),
    to(black)
  );
  background: linear-gradient(to right, rgba(43, 8, 8, 0), black);
  -webkit-animation: 3s animateBottom linear infinite;
  animation: 3s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(43, 8, 8, 0)),
    to(black)
  );
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), black);
  -webkit-animation: 3s animateLeft linear -1s infinite;
  animation: 3s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
