@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --checkbox-bg-color: linear-gradient(180deg, #656bff 0%, #ff8787 100%);
}

body {
  background-color: #111827;
}
.main-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  background: linear-gradient(90deg, #656bff 0%, #ff8787 116.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.create-input {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #4b5563;
  padding: 16px;
  gap: 10px;
  width: 464px;
  height: 48px;
  border: 1px solid #4b5563;
  border-radius: 8px;
  background-color: transparent;
}
.create-button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  padding: 16px 62px;
  gap: 8px;
  width: 144px;
  height: 48px;
  background: linear-gradient(90deg, #656bff 0%, #ff8787 116.54%);
  border-radius: 8px;
}
.get-task {
  margin-top: 32px;
  width: 192px;
  display: flex;
  gap: 16px;
  height: 24px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}
.done-task {
  background: linear-gradient(90deg, #656bff 0%, #ff8787 116.54%);
  border-radius: 6px;
  padding: 4px 10px;
  gap: 10px;
  width: 31px;
  height: 24px;
}
.task-heading {
  padding-top: 4px;
  padding-bottom: 4px;
}
.completed-task {
  /* padding: 4px 10px; */
  gap: 10px;
  width: 64px;
  height: 24px;
  background: linear-gradient(270deg, #322eff 0.52%, #b121bd 100%);
  border-radius: 6px;
}
.create-input:focus {
  border-image-source: linear-gradient(90deg, #656bff 0%, #ff8787 100%);
  border-width: 1pt;
  border-image-slice: 1;
  outline: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: white;
}
.delete-heading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}
.delete-paragrapgh {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.get-task-data {
  height: 56px;
  background: #1f2937;
  border-radius: 4px;
}
.get-task-data-paragraph {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  padding-top: 2px;

}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(13, 13, 13, 0.4);
  border: 1px solid #3a4a5f;
  border-radius: 10px;
}
.create-svg {
  top: 16px;
  right: 92px;
}
.todo-cb {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] {
  visibility: hidden;
}

.tick {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background: linear-gradient(180deg, #656bff 0%, #ff8787 100%);
  border-radius: 50px;
}
.todo-cb input:checked ~ .tick {
  background: linear-gradient(180deg, #656bff 0%, #ff8787 100%);
}
.tick:after {
  content: "";
  position: absolute;
  display: none;
}
.todo-cb input:checked ~ .tick:after {
  display: block;
}
.todo-cb .tick:after {
  left: 6px;
  bottom: 4px;
  width: 6px;
  height: 12px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.model-background {
  background: rgba(13, 13, 13, 0.4);
backdrop-filter: blur(4px);
}